<h2>Hunt Information</h2>
<h3>Name: <%= @hunt.name.titleize %></h3>
<h4>Master Path:</h4>
<% @hunt.locations.each_with_index do |location, i| %>
  <p> <%= (i + 1) %>: <%= link_to "#{location.name}", location_path(location) %></p>
<% end %>

<p class="note">
<%= link_to "Edit", edit_hunt_path %> |
<%= link_to "Delete", hunt_path, method: :delete %> |
<%= link_to "All locations", locations_path %> |
<%= link_to "All hunts", hunts_path %></p>
