<h2>Locations:</h2>

<% @locations.each do |location| %>
<div class="locations">
  <p>Name: <%= link_to "#{location.name.titleize}", location_path(location) %></p>
  <p>Clue: <%= location.clue %></p>
  <p>Coordinates: <%= location.latitude %>, <%= location.longitude %></p>
</div>
<% end %>

<p class="note"><%= link_to "Add New Location", new_location_path %></p>
