<h2>Locations</h2>

<% @locations.each do |location| %>
<div class="locations">
  <h3>Name: <%= link_to "#{location.name.titleize}", location_path(location) %></h3>
  <p>Clue: <%= location.clue %></p>
  <p class="note">Coordinates: <%= location.latitude %>, <%= location.longitude %></p>
  <p class="note">
  <%= link_to "Edit", edit_location_path(location) %> |
  <%= link_to "Delete", location_path(location), method: :delete %></p>
</div>
<% end %>

<p class="small-orange-button"><%= link_to "Add New Location", new_location_path %></p>
<p class="note"><%= link_to "Home", root_path %> | <%= link_to "Hunts", hunts_path %></p>
