<h2>Location Information</h2>

<h3>Name: <%= @location.name.titleize %></h3>
<p>Clue: <%= @location.clue %></p>
<p class="note">Coordinates: <%= @location.latitude %>, <%= @location.longitude %></p>

<p class="note">
<%= link_to "Edit", edit_location_path %> |
<%= link_to "Delete", location_path, method: :delete %> |
<%= link_to "All locations", locations_path %> |
<%= link_to "All hunts", hunts_path %></p>
