<!DOCTYPE html>
<html>
<head>
  <title>ScavengerHunter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="nav"><%= render partial: "shared/nav" %></div>
    <div class="header"><%= render partial: "shared/header" %></div>
    <div class="main">
    <div class="content">
<%= yield %>

<p class="note">
  <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
</p>

</body>
</html>
