<!DOCTYPE html>
<html>
<head>
  <title>ScavengerHunter</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <!-- <%= stylesheet_link_tag 'bootstrap.css', media: 'all' %> -->
  <%= javascript_include_tag 'application' %>
  <!-- <%= csrf_meta_tags %> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'> -->
</head>
<body>
  <div class="nav"><%= render partial: "shared/nav" %></div>

      <div class="container"><div class="col-sm-4"><%= render partial: "shared/header" %></div></div>

    <div class="main">
    <div class="content">

      <div class="container" >
        <div class="col-sm-8">

        <%= yield %>
        </div>
      </div>

<% unless flash.empty? %>
  <div class="info">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
  </div>
<% end %>
</p>

</body>
</html>
